body{background:0;font-family:Arial,sans-Serif;font-size:14px;line-height:1.5em;margin:0;padding:0;border:0}
td.code{padding:10px 0 0 12px}
div.code{border:1px solid black;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;width:133px;height:38px;text-align:center}
div.code h1{font-size:12px;background-color:#000;color:#fff;margin:0 0 3px 0}