
npp.7.7.1.bin.x64/session.xml
npp.7.7.1.bin.x64/langs.xml
npp.7.7.1.bin.x64/plugins/Config/converter.ini
npp.7.7.1.bin.x64/stylers.xml
npp.7.7.1.bin.x64/backup/*
npp.7.7.1.bin.x64/backup/index.html@2019-08-16_161056
npp.7.7.1.bin.x64/config.xml
*.lnk
notepad++.lnk
