.page {
  height:500px;
  width:960px;
  border:1px solid black;
  background-color: #E8E4E1;
  font-weight: bold;
  margin: 0px auto;
}
.head {
  height:150px;
  width:960px;
  border:1px solid black;
  background-color: #B58BAB;
  margin: 0px auto;
}
.foot {
  height:50px;
  width:960px;
  border:1px solid black;
  background-color: #B58BAB;
  margin: 0px auto;
}
