 body {
  font-family: "book antiqua", georgia, serif;
}
.page {
  height:900px;
  width:960px;
  border:1px solid black;
  background-color: #E8E4E1;
  font-weight: bold;
  margin: 0px auto;
}
.head {
  height:150px;
  width:960px;
  border:1px solid black;
  background-color: #B58BAB;
  margin: 0px auto;
}
.foot {
  height:50px;
  width:960px;
  border:1px solid black;
  background-color: #B58BAB;
  margin: 0px auto;
}
.table {
 width: 200px
 border: 2px solid black;
}
 td {
 border-width: 2px;
 border-style: solid
}
.tablebox {
 width: 550px;
 height: 150px;
 text-align: center;
 position:fixed;
 top: 200px;
 right: 680px;
}
.tablebox2 {
 width: 550px;
 height: 400px;
 text-align: center;
 position:fixed;
 top: 500px;
 right: 600px;
}