<style>
   /* #5f this is CSS comment */
   .topcontent {
     background-color: #121619;
     color: #FF0000;
     height: 150px;
   }
   .bottomcontent {
     background-color: #444444;
     height: 50px;
   .maincontent {
     background-color: #FF00FF;
   }


</style>
</head>
<body>